/*---------------------------------------------------------------

	Theme Name: Michigan
	Theme URI: http://webnus.biz/themes/michigan
	Author: WEBNUS
	Author URI: http://themeforest.net/user/WEBNUS
	Description: Michigan Learning Suite is a powerful Learning Management System for WordPress. It is an e-learning and education WordPress theme which is made for LMS, Training Center, College, Academy, University, Primary School, High school and Kindergarten with creating and selling your courses ability.
	This theme contains 4 main templates:
	1.online learning , 2.college & university , 3.high school , 4.primary school & kindergarten
	Each one of these 4 templates has independent and unique design and you can mix used extended elements and features in demos to use in your own website.
	Version: 1.1.1
	License: GNU General Public License
	License URI: COPYING.txt
	Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
	Text Domain: michigan

------------------------------------------------------------------------*/

/*------------------------------------------------------------------
	[Typography]

	Body copy: 14px/22px Hind,  Helvetica,  Arial,  sans-serif;
	Headers: PT Serif,  Trebuchet MS,  Helvetica,  Arial,  sans-serif;
	Input,  textarea: 13px Hind,  Helvetica,  Arial,  sans-serif;
	Sidebar heading: 16px PT Serif,  Trebuchet MS,  Helvetica,  Arial,  sans-serif;


	[Color codes]

	Background:	#ffffff (white)
	Content:	#424242 (light black)
	Header h1:	#565656 (dark)
	Header h2:	#565656 (dark)
	Footer:		#181818 (dark black)

	a (standard):	#2174e2 (blue)
	a (hover):	#fa5555 (ornage)

------------------------------------------------------------------------*/