h1, h2, h3, h4, h5, h6 {
	color: #3f3f3f !important;
}
.ult_price_features p span {
	color: #3f3f3f !important;
}
h3[class^="post-title"] a {
	color: #3f3f3f !important;
}
h3[class^="post-title"] a:hover {
	color: #00bff0 !important;
}
.top-bar h1, .top-bar h2, .top-bar h3, .top-bar h4, .top-bar h5, .top-bar h6,
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: #fff !important;
}
.page-id-248 #main-content {
	padding-top: 0px !important;
}

@media only screen and (min-width: 1200px) {
.row-wrapper-x {
	min-height: 0px !important;
}
}

.course-category-box {
	padding: 18px 10px 30px !important;
}
.course-category-box .colorf span {
	color: #fff !important;
	font-size: 1.2em;
	font-weight: bold;
}
.course-category-box .colorb {
	background-color: #f7f5f6 !important;
}
.course-category-box .colorb span {
	color: #00bff0 !important;
}
.course-category-box .colorb span:first-child {
	padding-top: 23px !important;
}

.course-category-box.c1 {
	background-color: #d91c2a !important;
}
.course-category-box.c2 {
	background-color: #dc3e2c !important;
}
.course-category-box.c3 {
	background-color: #de5a2a !important;
}
.course-category-box.c4 {
	background-color: #f5831f !important;
}
.course-category-box.c5 {
	background-color: #f89c1b !important;
}
.course-category-box.c6 {
	background-color: #f7ba1a !important;
}
.course-category-box.c7 {
	background-color: #ffe600 !important;
}
.course-category-box.c8 {
	background-color: #e4e11b !important;
}
.course-category-box.c9 {
	background-color: #bcd530 !important;
}
.course-category-box.c10 {
	background-color: #8dc43e !important;
}
.course-category-box.c11 {
	background-color: #57b947 !important;
}
.course-category-box.c12 {
	background-color: #35a86d !important;
}
.course-category-box.c13 {
	background-color: #009991 !important;
}
.course-category-box.c14 {
	background-color: #0089a3 !important;
}
.course-category-box.c15 {
	background-color: #0073ae !important;
}
.course-category-box.c16 {
	background-color: #3d63ae !important;
}
.course-category-box.c17 {
	background-color: #64469c !important;
}
.course-category-box.c18 {
	background-color: #7f4098 !important;
}
.course-category-box.c19 {
	background-color: #9d3c95 !important;
}
.course-category-box.c20 {
	background-color: #bd3c79 !important;
}

.modal-dialog {
	width: 45%;
	height: 85%;
}
.modal-content {
	width:100%;
	height: 100%;
}
.modal-header {
	margin-bottom: -20px;
}
.modal-header+.close {
	border: 1px solid #fff;
	background-color: #999;
	padding-top: 2px;
}

.blog-inner .au-avatar-box, .blog-social {
	display: none !important;
}
.course-list-col .modern-content {
	height: 75px;
}
.course-list-col .clearfix.modern-meta {
	padding: 0px 4px !important;
}
.widget .course-categories li span {
	color: #616161 !important;
}
.wpb_wrapper .gform_wrapper {
	border: 1px solid #ccc;
	padding: 25px;
}
.page-id-13864 .form-8-6, .page-id-13864 .form-8-7 {
	padding: 20px;
	margin: 10px;
	border: 1px solid #aaa;
}
.page-id-13864 .form-8-6 .gfield_label, .page-id-13864 .form-8-7 .gfield_label {
	padding: 10px 0;
}
/* icon-center fix */
@media (max-width: 767px) {
	.page-id-13864  #wrap .blox .wpb_content_element {
		text-align: center;
	}
	.page-id-13864 .wpb_row .wpb_column.vc_col-sm-4:first-child {
		display: none;
	}
}
