/*----------------------------------
	
	Theme Name: Michigan
	----------------------*/
	
	/* NAVIGATION BAR  */
	
	#nav-wrap .container { position:relative;}
	.nav-wrap1, .nav-wrap2 { height:100px;  position:relative; border-color:#f0f0f0;}
	.nav-wrap2 { height:82px; margin:0 auto; border:none;}
	.nav-wrap2.mn4 { height:60px;}
	
	/* Menu Icon (Responsive Button) */
	#menu-icon { display: none; /* hide menu icon initially */}
	#nav { float:right;}
	#nav li {list-style: none; padding:0; margin:0;float: left;display: block; height: 100%;vertical-align: middle;position:static;}
	
	/* Nav Link */
	#nav a {display: block;font-weight: 600;color: #222;outline: 0;opacity:1;text-align:center;letter-spacing: 0px;font-family: 'Montserrat', serif;font-size: 13px;text-transform: uppercase;padding:0 15px;line-height:100px;transition:all .15s ease-in-out;}
	#nav a:hover, #nav li:hover > a { color:#d0ae5e;}
	#nav a i { font-size:16px; line-height:16px; display:inline; color:inherit; margin-right:4px; vertical-align:baseline;}
	#nav > li > a i { margin-right:6px; font-weight:normal;}
	#nav > li.current > a, #nav > li > a.active { position:relative; color:#d0ae5e;}
	#header.sticky #nav-wrap #nav > li:hover { background:#f0f0f0; transition: background 0.25s ease;}
	#header.sticky #nav-wrap #nav > li > a { margin:0; padding:23px 15px; line-height:18px;}
	#header.sticky #nav-wrap #nav #nav > li:hover > a { color:#d0ae5e;}
	#header.sticky .woo-cart-header { top: 11px;}
	#header.sticky .col-md-9.alignright { padding-bottom: 60px;}
	
	/* Woocommerce */
	#header .woo-cart-header{top:0;margin:0;padding:0;}
	#header .widget_woocommerce-header-cart{float:right;clear:none;overflow:visible;}
	#header .woo-cart-header{top:0;margin:0;padding:0;padding-top:23px;}
	#header .woo-cart-header .header-cart{background-image:none;display:block;width:auto;height:auto;}
	#header .woo-cart-header .header-cart:after{font-family:'simple-line-icons';content:"\e04d";display:block;position:absolute;top:2px;left:-15px;color:#393939;font-size:22px;}
	.transparent-header-w.t-dark-w #header .woo-cart-header .header-cart:after,.box-menu#header .woo-cart-header .header-cart:after { color: #fff; }
	#header .woo-cart-header .header-cart span{width:17px;height:17px;line-height:17px;background-color:#d0ae5e;border-radius:2px;text-align:center;color:#fff;z-index:2;}
	#header .woo-cart-dropdown{top:60px;right:18px; line-height: 30px;}
	.box-menu#header .woo-cart-dropdown{top:80px}
	/* Nav Dropdown */
	#nav ul { position: absolute;  width: 220px; background: #fff ;  padding:15px 0; margin:0; box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09); z-index:9100; display: none; /* hide dropdown */ }
	@media only screen and (min-width: 961px) {
	.dark-submenu #nav ul, .dark-submenu #nav ul li, .dark-submenu #nav ul li:hover { background:#242424;}
	.dark-submenu #nav ul li a { color:#d0d0d0; text-shadow:none;}
	.dark-submenu #nav ul li a:hover {background: #1a1a1a;color: #d0ae5e;}
	}
	.dark-submenu #nav ul li.current a {color: #d0ae5e;}
	#wrap.dark-submenu #nav ul li ul li a { color: #ccc;}
	#wrap.dark-submenu #nav ul li ul li.current a { color: #d0ae5e;} 
	#wrap.dark-submenu #nav ul li ul li:hover a { color: #d0ae5e;} 

	#header.sticky #nav li ul:before,
	#header.sticky #nav li ul:after,
	#nav > li > li.mega ul[class^="sub-"]:after, #nav > li > li.mega ul[class^="sub-"]:before { border-width:0; display:none;}
	#nav ul li { float: none; display:block; position:relative;	margin: 0; padding:0;}
	#nav ul li:hover { background-color:#f9f9f9;}
	#nav ul li:last-child { border:none;}
	#nav ul li a {color: #222; width:auto; display:block; text-align:left;padding: 7px 8px 7px 18px; border-radius:0;font-size: 11px;font-weight: 600; border:0 none; text-transform:uppercase; line-height:24px; min-height:24px;letter-spacing: 1px;font-family: 'Hind', 'Montserrat', serif;}
	#nav li:hover > ul { display: block; visibility:visible; /* show dropdown on hover */}
	#nav ul li ul { margin:-38px 0 0 220px; width:182px; padding:0;}
	#nav ul li ul li ul { margin-left:182px;}
	#nav li.submenux:after { font-family: 'FontAwesome'; content: "\f054"; position:absolute; color:#cdcdcd; font-size:8px; display:inline; speak: none; cursor:pointer; right:9px;top: 8px;} 
	#nav li.mega ul[class^="sub-"] li.submenux:after { display:none;} 
	
	/* Mega Menu */
	#nav li.mega ul[class^="sub-"] { width:100%; left:auto; right: 0; float:right; border-radius:0; padding:0;}		
	.w-header-type-10 #nav li.mega ul[class^="sub-"] { right: -30px; }
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#nav li.mega ul[class^="sub-"] { width:920px;}
	#header.sticky #nav li.mega ul[class^="sub-"] { left:10px; right:10px; width:auto;}
	#nav > li > a { font-size:13px; padding-left:10px; padding-right:10px;}
	}
	@media only screen and (min-width: 1201px) {
	#nav li.mega ul[class^="sub-"] { width:1096px;}
	#header.sticky #nav li.mega ul[class^="sub-"] { left:30px; right:auto;}
	}
	#nav li.mega ul[class^="sub-"] div:last-child { margin-right:0 !important;}
	#nav li.mega ul[class^="sub-"], #nav li.mega ul[class^="sub-"] li, #nav li.mega ul[class^="sub-"] li:hover { background-color:#fff;}
	#nav h4.subtitle { margin:14px 0; border-color:#e8e8e8; border-width:1px; font-size:12px;}
	#nav img { max-width:100%; margin-bottom:10px;}
	#nav p { font-size:13px;color: #666; line-height:22px;}
	.dark-submenu #nav p { color:#d1d1d1; font-size:14px; line-height:1.8;}
	#header #nav h6 { margin:0; margin-bottom:7px; color:#555;}
	#nav .sendbtn { padding:7px 20px; font-size:13px;}
	#nav li.mega ul[class^="sub-"] ul, #nav li.mega ul[class^="sub-"] li.mega ul[class^="sub-"] { position:static; display:block; width:auto; border:none; margin:0; padding:0; box-shadow:none;}	
	#nav li.mega ul[class^="sub-"] ul li, #nav li.mega ul[class^="sub-"] ul li a { margin:0;}
	#nav li.mega ul[class^="sub-"] ul li { padding:8px 0; padding-left:1px; border-bottom:none;}
	#nav li.mega ul[class^="sub-"] ul li a { display:inline; line-height:1.4; padding-left:0; padding-right:3px;font-size: 13px;}
	#nav li.mega ul[class^="sub-"] .wpb_content_element { margin-bottom:5px;}
	#nav li.mega ul[class^="sub-"] .wpb_row { padding:0 15px; margin:0;}
	#nav li.mega ul[class^="sub-"] input, #nav li.mega ul[class^="sub-"] textarea { min-width:inherit;}
	#nav li.mega ul[class^="sub-"] .wpb_column .widget { margin-bottom:0;}
	#nav li.mega ul[class^="sub-"] .no-title .widgettitle { display:none;}
	#nav li.mega ul[class^="sub-"] .mgm-title { font-size: 39px; font-weight: 100; line-height:1.2;color: #333;}
	#nav li.mega ul[class^="sub-"] h3 strong {font-size: 24px;}
	#nav li.mega ul[class^="sub-"] a.button, .dark-submenu #nav li.mega ul[class^="sub-"] li a.button {display: inline-block;padding: 13px 18px;font-size: 13px;font-weight: 700;letter-spacing: 1px;line-height: 1;min-height: 15px;color: #fff;} 
	#nav-wrap #nav li.mega ul[class^="sub-"] li a.button:hover {background:#000; color:#fff;}
	@media only screen and (min-width: 961px) {
	.dark-submenu #nav li.mega ul[class^="sub-"] li, .dark-submenu #nav li.mega ul[class^="sub-"] li:hover { background:none;}
	.dark-submenu #nav li.mega ul[class^="sub-"] { background:#242424;}
	.dark-submenu #nav li.mega ul[class^="sub-"] li a {text-shadow: none;}
	.dark-submenu #nav li.mega ul[class^="sub-"] li a:hover {background: none;}
	.dark-submenu #nav li.mega ul.sub-posts li a:hover { color:#d0ae5e;}
	.dark-submenu #nav li.mega ul[class^="sub-"] { color:#a0a0a0;}
	.dark-submenu #nav h4.subtitle { margin:25px 0 15px 0; color:#d8d8d8; border-color:rgba(255,255,255,0.1);}	
	.dark-submenu #nav li.mega ul[class^="sub-"] .mgm-title { color:#fff;}
	.dark-submenu #nav li.mega ul[class^="sub-"] li a.button { color:#fff;}
	}
	
	#nav-wrap #nav li:hover .sub-posts {display: table;table-layout: fixed;margin: 0;padding: 2px;}
	#nav .sub-posts li, .nav-wrap2 #nav .sub-posts li {list-style: none;display: table-cell;text-align: center; border: 0; padding: 10px 0; vertical-align: top;}
	#nav li:hover .sub-posts li:hover{background: #f7f7f7;}
	#nav .sub-posts li img {margin:0;}
	#nav .sub-posts li figure { padding:10px;}
	#nav .sub-posts li figure a { padding:0; margin:0;}
	#nav .sub-posts li h5 a {padding: 8px 14px; font-size: 12px; line-height:1.7; font-weight: 400; letter-spacing:2px; text-transform:uppercase; text-align: center; background: none;}
	#nav .sub-posts .sub-meta {color: #a1a1a1; margin-bottom:10px; font-size:13px; display:none;}
	@media only screen and (max-width: 960px) {
	#nav .sub-posts li, .nav-wrap2 #nav .sub-posts li { display:block;}
	} 
	
	
	/* top-bar menu edition */
	@media only screen and (min-width: 961px) {
	.top-links #nav { margin:0;}
	.top-links #nav > li > a { line-height:51px; padding:0 15px; font-size:10px; margin:0; font-weight:700; color:#c0c0c0;}
	.top-links #nav ul li a { font-size:10px; text-transform:uppercase;}
	.top-links #nav > li.current > a:before, .top-links #nav > li > a:after { display:none;}
	.top-links #nav ul { width:170px;}
	.top-links #nav ul li ul { margin:-38px 0 0 170px; width:160px;}
	#wrap.no-menu-header .nav-wrap2 { display:none;}
	}
	@media only screen and (max-width: 960px) {	
	#wrap.no-menu-header .top-links { display:none;}
	}
	
	
	.wuser-menu {position: relative; display: inline-block; cursor: pointer; padding: 0 10px;}
	.wuser-menu .wuser-avatar{display:inline-block; line-height: 4.1; margin-left: 8px;}
	.wuser-menu .wuser-avatar img{border-radius:50%;}
	.wuser-menu .wuser-smenu {display: none; left: inherit; z-index: 1000; right:0; position: absolute; background-color: #363842; min-width: 160px; padding: 10px 0px;}
	.wuser-menu .wuser-smenu a{display: block; line-height: 3; padding: 0 10px; font-weight: 400;}
	.wuser-menu:hover .wuser-smenu {display: block;}
	#wrap .top-bar .wuser-smenu a:hover { background-color: #282828;}
	
	@media only screen and (max-width: 767px){
	.wuser-menu { margin-left: -1px; margin-top: 7px;}
	}

	    
	
	/* nav link Header2 */	
	@media only screen and (min-width: 961px) {
	.nav-wrap2 #nav { margin:0; width: 100%; background:none;}
	.nav-wrap2 {border-bottom: 1px solid #ebebeb;border-top: 1px solid #ebebeb;background: #eaeaea;}
	.nav-wrap2.darknavi #nav { border-bottom:none;}
	.nav-wrap2 .container { padding-left:25px; padding-right:25px;}
	.nav-wrap2.darknavi { background:#303030; border-color:transparent;}
	}
	@media only screen and (min-width: 1200px) {
	.nav-wrap2 .container { padding-left:30px; padding-right:30px;}
	}
	#header .vertical-space { height: 0;}
	#header.sticky .vertical-space { height:51px;}
	.nav-wrap2 #nav { text-align: center;}
	.nav-wrap2 #nav a { color:#222;}
	.nav-wrap2 #nav > li { margin:0; padding:0; float:none; display: inline-block;}
	.nav-wrap2 #nav > li > ul { margin-left:0;}
	#header.sticky .nav-wrap2 #nav > li > ul { margin-left:-21px;}
	.nav-wrap2 #nav > li > a { margin:0; padding:21px 20px 18px; font-size:14px; text-transform:uppercase; line-height:18px; text-align:center;}
	.nav-wrap2.mn4 #nav > li > a { padding:21px 25px 20px;}
	#header.sticky .nav-wrap2 #nav > li > a { font-size:13px;}
	.nav-wrap2 #nav li.mega ul[class^="sub-"] { right:auto; left:30px; float:left; text-align:left;}
	#header.sticky .nav-wrap2 #nav li.mega ul[class^="sub-"] { margin:0;}
	#nav a span, #nav > li > a:after { margin-top:6px; display:block; font-size:11px;  color:#9a9a9a; font-weight:400;}
	#nav > li > a:after  { content: attr(data-description);}
	.nav-wrap1 #nav > li > a:after, .nav-wrap2.mn4 #nav > li > a:after, #nav ul li > li > a:after { content:""; display:none;}
	.nav-wrap2 #nav > li:hover > a, .top-links #nav > li:hover > a { color:#d0ae5e; background: none;}
	.nav-wrap2.darknavi #nav > li > a { color:#fff;}
	.nav-wrap2.darknavi #nav > li > a:hover, .nav-wrap2.darknavi #nav > li:hover > a { background-color:#242424; color:#d0ae5e;}
	.nav-wrap2 #nav > li.current > a {color:#d0ae5e;}
	.nav-wrap2 #nav > li.current > a:before { height:3px;}
	#header.sticky .nav-wrap2 #nav > li { padding:0;} 
	#header.sticky .nav-wrap2 #nav > li > a { margin:0; padding:21px 10px; border:none; background:none;}
	#header.sticky #nav a span, #header.sticky #nav a:after { display:none;}
	#header.sticky .nav-wrap2 {border:none;}
	#header.sticky .nav-wrap2.darknavi, #header.sticky .nav-wrap2.darknavi #nav > li > a { border:none; background:none;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a { color:inherit;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a:hover { color:#d0ae5e;}
	@media only screen and (min-width: 961px) {
	#header.sticky .nav-wrap2 #nav { float:right; background:none; border:none; text-align:right;}
	}
	@media only screen and (min-width: 1200px) {
	#header.sticky .nav-wrap2 #nav > li > a { padding:21px;}
	}
	
	/* nav dropdown for(ie7) */
	*+html #nav li { position:relative; display:block;}
	*+html #nav li ul, *+html #nav li.current ul {  left:0; clear:both; position:absolute; border:1px solid #d4d4d4;}
	*+html .container { z-index:2;}
	*+html #header { z-index:3; position:relative;}
	*+html #nav ul li ul { position:absolute; left:0; margin-top:-31px; display:none; visibility:hidden;}
	*+html #nav ul li:hover > ul { display:block; visibility:visible;}
	
	

	
	#header.w-header-type-10 { background:#fff; box-shadow: 0 1px 7px rgba(0,0,0,0.081);border-top: 2px solid #d0ae5e;max-width: 1096px;margin: auto;height: inherit;}
	#header.w-header-type-10 .container { width:100%;}
	#header.w-header-type-10 .logo-wrap { padding-left:0;}
	#header.w-header-type-10.sticky {border:none;}
	.w-header-type-10 .nav-wrap1, .w-header-type-10 .logo-wrap .logo {height:83px;}
	.w-header-type-10 #nav li ul { margin-top:-1px;}
	.w-header-type-10 #nav li ul li a {line-height: 37px;}
	.w-header-type-10 #nav a{line-height:84px;}
	#header.w-header-type-10 .vertical-space {height: 0;}
	.w-header-type-10 #nav li.submenux:after {top: 12px;}
	.w-header-type-10 #nav ul li ul {margin-top: -51px;}
	.w-header-type-10 #search-form { margin-top: 35px; }
	@media only screen and (min-width: 961px) {
	.transparent-header-w.t-dark-w .w-header-type-10 a.search-form-icon i { color:#222; border-color:#222; }
	}

	/*	#HEADER TYPE -> 12
	=======================================*/
	.has-header-type12 .top-links.rgtflot .socialfollow { padding-right: 8px; }
	.has-header-type12 .wuser-menu:hover .wuser-smenu { margin-top: -9px;}
	.transparent-header-w.t-dark-w.has-header-type12 #header.horizontal-w #nav > li > a { text-shadow: none; }
	@media only screen and (min-width: 961px) {
	#header.w-header-type-12 .header-button { margin-top: 7px;}
	#header.w-header-type-10 .header-button { margin-top: 17px;}
	#wrap #header.w-header-type-12 { position: absolute; top: 50px; left: 0; right: 0; margin: 0 auto; background: #fff; box-shadow: 0 1px 7px 0px rgba(0,0,0,0.043);}
	.has-topbar-w #header.w-header-type-12 { top: 55px;}
	#header.w-header-type-12 > .container { width: 100%; padding-left: 0; padding-right: 0;}
	#header.w-header-type-12 .nav-components { border-bottom: 4px solid #f0f0f0;}
	#header.w-header-type-12 .logo-wrap .logo {width: 100%; height: 140px;}
	.w-header-type-12 .nav-wrap1, .w-header-type-12 #nav { float: left;}
	.w-header-type-12 .nav-wrap1 { height: 62px;}
	.w-header-type-12.sticky .nav-wrap1, .w-header-type-12.sticky #nav { float: right;}
	.w-header-type-12 #nav { margin: 0;margin-top: -2px;}
	.w-header-type-12 #nav > li > a { line-height: 62px; color: #363842;font-weight: 600;font-size: 14px;letter-spacing: 0.4px;border-top: 2px solid transparent;transition: .23s all ease-in-out;}
	.w-header-type-12 #nav > li:hover > a { position:relative; color:#d0ae5e; border-top: 2px solid;  background-color: #f5f5f5;}
	}
	.transparent-header-w.t-dark-w #header.w-header-type-12.horizontal-w #nav > li > a { color: #363842;}
	
	.transparent-header-w.t-dark-w #header.w-header-type-12.horizontal-w .header-button,.transparent-header-w.t-dark-w #header.w-header-type-10.horizontal-w .header-button { border-color: #363842;}
	.transparent-header-w.t-dark-w #header.w-header-type-12.horizontal-w .header-button:hover,.transparent-header-w.t-dark-w #header.w-header-type-10.horizontal-w .header-button:hover { border-color: transparent;}
	.transparent-header-w #wrap.school-t #header.w-header-type-12 .header-button, .transparent-header-w #wrap.school-t #header.w-header-type-10 .header-button { color: #363842; }
	.transparent-header-w #wrap.school-t #header.w-header-type-12 .header-button:hover, .transparent-header-w #wrap.school-t #header.w-header-type-10 .header-button:hover { color: #fff; }

	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#header.w-header-type-12 { width: 930px;}
	.w-header-type-12 #nav > li > a { font-size:12px; padding-left:8px; padding-right:8px;}
	}

	@media only screen and (min-width: 1281px) {
	#header.w-header-type-12 { width: 1090px;}
	}

	@media only screen and (min-width: 1200px) and (max-width: 1280px) {
	#header.w-header-type-12 { width: 1120px;}
	}

	@media only screen and (max-width:960px) {
	#header.w-header-type-12 { position: static;}
	}

	@media (max-width:768px){
	.transparent-header-w #header.w-header-type-12 .header-button { margin: 17px auto 40px;}
	#header.w-header-type-12 .header-button { margin: 17px auto 6px;}
	#header .header-button { margin: 32px auto 40px;}
	}

	@media only screen and (max-width: 960px) {
	#w-header-type-12-search { display: none;}
	.phones-components #w-header-type-12-search { display: block; margin: 5px 0;}
	#w-header-type-12-search input { max-width: 120px;}
	}
	#header.w-header-type-12 .logo-wrap .logo { text-align: center; margin: 0;}
	
	/* search */
	#w-header-type-12-search { float: right; margin: 0; height: 62px;}
	#w-header-type-12-search i { float: left; display: block; line-height: 62px; margin-right: 10px; color: #696969; font-size: 16px; cursor: pointer;}
	#w-header-type-12-search input { float: left; display: block;margin: 14px 0; min-width: auto; width: 0px; border: none; padding: 0; line-height: 30px; min-height: auto; background: #fafafa;height: 36px;}
	#w-header-type-12-search input:focus { box-shadow: none;}

	@media only screen and (max-width: 960px) { 
	#header.sm-rgt-mn.w-header-type-12 .logo-wrap { background: #00c2e5;}
	#header.w-header-type-12.res-menu .logo-wrap { float: left; max-width: 140px; height: auto;}
	#header.w-header-type-12.sm-rgt-mn .logo-wrap .logo img { max-height: 48px; width: auto !important; max-width: 200px; margin: auto 0; }
	#header.w-header-type-12.res-menu .logo-wrap .logo img { max-width: 120px; }
	#header.w-header-type-12.res-menu .logo-wrap .logo { width: 140px; padding-top: 14px;}
	}
	@media only screen and (min-width: 961px) {
	.has-header-type12 #wrap.kids-t #main-content.container {padding-top: 0;}
	.has-header-type12 #main-content.container { padding-top: 114px;}
	}
	@media only screen and (min-width: 961px) {
	.has-header-type12 #headline { padding-top:90px;}
	.has-header-type12 #headline h2 { padding-left:5px;}
	.has-header-type12.single .container.page-content { padding-top:40px;}
	}
	@media only screen and (min-width: 961px) {
	.has-header-type12 #wrap.school-t section.top-bar, .has-header-type12 #wrap .top-bar { min-height: 116px;}
	.has-header-type12 #topbar-search { margin-right: 8px;}
	.transparent-header-w.has-header-type12 .top-bar { min-height: 51px;}
	}
    .w-header-type-12 #site-title { display: block; letter-spacing: 0; font-size: 25px; margin-top: 30px;}
    .w-header-type-12 #site-title a { color: #fff; }
	.w-header-type-12 .logo .site-slog a { font-size: 17px; color: #fff; font-weight: 400; letter-spacing: 0; }
	@media only screen and (max-width: 960px) {
	.has-header-type12 #main-content.container { padding-top: 35px;}
		.w-header-type-12 #site-title { font-size: 15px; margin-top: 5px; padding-bottom: 0; }
		.w-header-type-12 .logo .site-slog a { font-size: 6px; }
	}
	@media (min-width: 961px) {
	.error404.has-header-type12 .blox.dark { padding-top:180px;}
	}
	/*  header 12 */
	@media only screen and (min-width: 961px) {
	.has-header-type12 .blox.page-title-x, .has-header-type12 .parallax-sec.page-title-x, .has-header-type12 .video-sec.page-title-x { margin-top:-114px;}
	.has-header-type12 .vc_col-sm-12 .wpb_revslider_element, .has-header-type12 .vc_col-sm-12 .wpb_layerslider_element, .has-header-type12 .max-hero { margin-top:-114px;}
	}

	/*	header 12 Components
	================================*/
	#header.w-header-type-12 .components { float: left; width: 100%; border-bottom: 2px solid #f0f0f0;}
	.phones-components  { border-bottom: 2px solid #f0f0f0; }
	#header.w-header-type-12 h6, #wrap .components h6, .has-header-type12 .top-bar h6, .has-header-type12 .top-inf h6  { font-size:12px; margin:18px 14px; font-weight:400; color:#fff; display:inline-block;}
	#header.w-header-type-12 h6, #wrap .components h6 { text-align:left; color: #5b5d60; margin: 0;float: left; padding: 20px 60px 14px 0; }
	#header.w-header-type-12 h6 i, #wrap .components h6 i, .has-header-type12 .top-bar h6 i, .has-header-type12 .top-inf h6 i { background:none; font-size:16px; display:inline; margin:7px 4px; vertical-align:middle;}
	#header.w-header-type-12 h6 i, #wrap .components h6 i { float: left; font-size: 24px; margin: 0; margin-right: 10px;}
	#header.w-header-type-12 h6 span, #wrap .components h6 span { font-family: 'Montserrat', sans-serif; overflow: hidden; display: block; float:left; font-size: 12px; line-height: 18px; font-weight: 300;}
	#header.w-header-type-12 h6 span strong, #wrap .components h6 span strong { font-weight: 600;}
	.has-header-type12 .top-bar h6 { margin:0 10px 0 0;}
	#header.w-header-type-12.sticky .components.clearfix { display: none;}
	#header.w-header-type-12 #search-form { margin-top: 20px; margin-right: 35px;}
	#header.w-header-type-12 .search-form-box { margin-top: 20px; }

	@media only screen and (min-width: 961px) {
	.phones-components  { display: none; }
	}

	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#header.w-header-type-12 h6 span, #wrap .components h6 span { font-size: 11px;}
	#header.w-header-type-12 h6, #wrap .components h6 { padding-right:30px;}
	}
	
	@media only screen and (max-width: 960px) {
	#header.w-header-type-12 .components { display: none; }
	.phones-components  { display: block;}
	#header.w-header-type-12 h6, #wrap .components h6 {text-align: left; padding-left: 10px; padding-right: 10px; display: block;}
	}

	@media only screen and (max-width: 767px) {
	#wrap .phones-components  { display: table; float: none;width: 100%;border-width: 1px;}
	#wrap .components h6:first-child {border-left: 1px solid #f0f0f0;}
	#wrap .components h6 { cursor: pointer; border-right: 1px solid #f0f0f0; display: table-cell; width: auto;float: none;margin: 0;vertical-align: middle;text-align: center;padding: 20px 15px;}
	#wrap .components h6 i { margin: 0;float: none; cursor: pointer;}
	#wrap .components h6 span { font-size: 0; transition: .3s all ease; text-align: left;}
	#wrap .components h6.active span { font-size: 10px; }
	#wrap .components h6.active i {float: left;position: relative;top: 6px;margin-right: 8px;}
	}
	
	@media only screen and (max-width: 479px) {
	#wrap .components h6 { padding: 23px 7px 6px; }
	
	#wrap .components h6 i { font-size:18px;}
	#wrap .components h6.active { padding-top: 10px; }
	#wrap .components h6.active span { font-size: 9px;}
	#wrap .components h6.active i { margin-right:4px;}
	}
	
	/*	mega menu
	===================*/
	#header.w-header-type-12 #nav li.mega ul[class^="sub-"] { left: auto; right: -15px; float: right; border-radius: 0; padding: 0;}
	#header.w-header-type-12.sticky #nav li.mega ul[class^="sub-"] { right: 30px;}
	#header.w-header-type-12 #nav li.mega ul[class^="sub-"] { width: 1091px;}
	@media (min-width:960px) and (max-width: 1200px){
	#header.w-header-type-12 #nav li.mega ul[class^="sub-"]{ width:930px; right: -10px;}
	#header.w-header-type-12.sticky #nav li.mega ul[class^="sub-"] {  right: 30px;}
	}




	@media only screen and (min-width: 961px){
	.transparent-header-w.has-topbar-w .online-t #header.sticky .header-bottom { display: none;}
	#header.w-header-type-10, .transparent-header-w.has-topbar-w .online-t #header {top: 56px;}
	.transparent-header-w #header { position:absolute; top:0; background:none; border:none;}
	#header.horizontal-w.w-header-type-10 #nav > li > a { color: #414141; text-transform: uppercase; font-weight: 400; font-size: 13px; font-family: 'Montserrat',sans-serif;}
	.transparent-header-w.t-dark-w #header.horizontal-w.w-header-type-10 #nav > li > a { color: #414141; text-shadow:none;}
	#header.horizontal-w.w-header-type-10 #nav > li:hover > a,.transparent-header-w #header.horizontal-w.w-header-type-10 #nav > li.current > a, #header.horizontal-w.w-header-type-10 #nav > li.current > a {color:#d0ae5e;}
	#header.w-header-type-10 #nav > li.current > a:before { height:4px;}
	.transparent-header-w #header.w-header-type-10 { position: absolute; top: 35px; background: #fff; margin: 0 auto; left: 0; right: 0; box-shadow: 0 1px 7px rgba(0,0,0,0.041); border-top: 2px solid #d0ae5e; }
	.transparent-header-w #header.w-header-type-10.sticky { width:100%; box-shadow:none; top:0;}	
	}
	
	@media only screen and (max-width: 960px){
	.w-header-type-10 #nav a {line-height:inherit;}
	 #header.w-header-type-10 {  border: none;}
	}
	
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#header.w-header-type-10 #nav > li > a { font-size:12px; padding:0 10px;}
	#header.w-header-type-10.sticky #nav-wrap #nav > li > a { padding-left:10px; padding-right:10px;}
	}

	
	/* Header Bottom */
	.header-bottom {background: #fff; margin-left: -15px; margin-right: -15px;  width: auto;}
	.header-bottom .col-md-3,.header-bottom .col-sm-4,.header-bottom .col-md-9,.header-bottom .col-sm-8 {padding:0}
	.header-bottom #header-b > li {padding-left: 31px;}	
	.header-bottom #header-b > li > a {line-height: 48px;color: #414141; text-transform: uppercase; font-weight: 400; font-size: 14px; font-family: 'Montserrat',sans-serif; letter-spacing: 1px;}
	.header-bottom #header-b,.header-bottom #header-b li {list-style: none;margin: 0;}
	.header-bottom #header-b { border: 1px solid #eee; border-right: none; height:50px; border-left:none;}
	.header-bottom #header-b li a i {padding-right: 8px;}
	.header-bottom #header-b li:hover a i { color:#d0ae5e;}
	#header-b ul {margin-left: 15px;margin-right: 15px;z-index: 9100;display: none;}
	#header-b li:hover > ul {display: block;visibility: visible;}
	#header-b ul li {float: none;display: block;position: relative;margin: 0;padding: 0;}
	#header-b ul li a {width: auto;display: block;text-align: left;padding: 7px 12px;border-radius: 0;font-size: 11px;font-weight: 600;border: 0 none;text-transform: uppercase;line-height: 24px;min-height: 24px;letter-spacing: 1px;}
	.header-bottom #topbar-search {width: 100%;}
	.header-bottom #topbar-search .search-text-box {width: 100%;margin: 0;height: 50px;border-radius: 0;border: 0;border-right: 1px solid #e8e8e8;font-size: 13px; color:#8a8a8a;padding-left: 22px;}
	.header-bottom #searchsubmit {padding: 18px 17px;width: 100%;background: #d0ae5e;font-size: 14px;font-family: 'Montserrat',sans-serif;text-transform: uppercase;font-weight: 400;letter-spacing: 1px;margin: 0; border-radius:0;}
	#wrap .header-bottom #searchsubmit:hover { background: #424242;}
	.header-bottom #topbar-search:hover .search-text-box,.header-bottom #topbar-search .search-text-box:focus {background: none;}
	.header-bottom #topbar-search .search-text-box {box-shadow: none; border: 1px solid #eee; border-right: none;}
	@media only screen and (max-width: 1201px){
	.header-bottom { margin-left: 0; margin-right: 0;}
	.header-bottom #header-b > li {padding-left: 10px;}
	}
	@media only screen and (max-width: 768px){
	.header-bottom #topbar-search .search-text-box {border-top: 1px solid #e8e8e8;}
	.header-bottom #header-b { border-bottom:none;}
	.header-bottom #topbar-search .search-text-box { border: 1px solid #eee; border-bottom: none;}
	}
	
	/* Category Mega Menu */
	#header-b ul {width:100%;position: absolute;z-index: 9100;display: none;}
	#header-b li.mega ul {margin-top:0;}
	#header-b li.mega ul[class^="sub-"] div:last-child { margin-right:0 !important;}
	#header-b li.mega ul[class^="sub-"], #header-b li.mega ul[class^="sub-"] li, #header-b li.mega ul[class^="sub-"] li:hover { background-color:#2b2c31;}
	#header-b h4.subtitle { margin:14px 0; border-color:#e8e8e8; border-width:1px; font-size:12px;}
	#header-b img { max-width:100%; margin-bottom:10px;}
	#header-b p { font-size:13px;color: #666; line-height:22px;}
	.dark-submenu #header-b p { color:#d1d1d1; font-size:14px; line-height:1.8;}
	#header #header-b h6 { margin:0; margin-bottom:7px; color:#555;}
	#header-b .sendbtn { padding:7px 20px; font-size:13px;}
	#header-b li.mega ul[class^="sub-"] ul { position:static; display:block; width:auto; border:none; margin:0; padding:0; box-shadow:none;background:none;}	
	#header-b li.mega ul[class^="sub-"] ul li, #header-b li.mega ul[class^="sub-"] ul li a { margin:0;}
	#header-b li.mega ul[class^="sub-"] ul li { padding-left:1px; padding: 13px 23px 4px 3px;; margin: 0 39px 0 2px;}
	#header-b li.mega ul[class^="sub-"] ul li:last-of-type {border:0}
	#header-b li.mega ul[class^="sub-"] ul li:hover a{color:#d0ae5e}
	#header-b li.mega ul[class^="sub-"] ul li a { display:inline; line-height:1.4; padding-left:0; padding-right:3px;font-size: 13px;}
	#header-b li.mega ul[class^="sub-"] .wpb_content_element { margin-bottom:5px;}
	#header-b li.mega ul[class^="sub-"] .wpb_row { padding:0 15px; margin:0;}
	#header-b li.mega ul[class^="sub-"] input, #header-b li.mega ul[class^="sub-"] textarea { min-width:inherit;}
	#header-b li.mega ul[class^="sub-"] .wpb_column .widget { margin-bottom:0;}
	#header-b li.mega ul[class^="sub-"] .no-title .widgettitle { display:none;}
	#header-b li.mega ul[class^="sub-"] .mgm-title { font-size: 39px; font-weight: 100; line-height:1.2;color: #333;}
	#header-b li.mega ul[class^="sub-"] h3 strong {font-size: 24px;}
	#header-b li.mega ul[class^="sub-"] a.button, .dark-submenu #header-b li.mega ul[class^="sub-"] li a.button { display:inline;padding: 14px 28px;font-size: 14px;font-weight: 400;letter-spacing: 0;color: #fff;} 
	#header-b-wrap #header-b li.mega ul[class^="sub-"] li a.button:hover {background:#000; color:#fff;}
	#header-b li.mega ul[class^="sub-"] { max-width:890px; border-radius:0; padding:0;margin-left:-31px}
	#header-b .course-category-box2 { padding: 4px 0;}
	#header-b .course-category-box2:hover {background: #26272b;}
    #header-b .course-category-box2:hover a span {color: #d0ae5e;}
	#header-b .course-category-box2 a { font-size: 12px;}	
	.header-bottom #header-b li ul li a i {font-size: 19px;color: #fff;vertical-align: middle;}
	
	@media only screen and (min-width: 1201px) {
	#header-b li.mega ul[class^="sub-"] { width:890px;}
	#header.sticky #header-b li.mega ul[class^="sub-"] { left:73px; right:auto;}
	}
	
	@media only screen and (min-width: 961px) and (max-width: 1201px) {
	#header-b li.mega ul[class^="sub-"] {width: 930px;margin-left: 0;}
	#header.sticky #header-b li.mega ul[class^="sub-"] { left:10px; right:10px; width:auto;}
	}
	
	@media only screen and (min-width: 961px) {
	.dark-submenu #header-b li.mega ul[class^="sub-"] li a {text-shadow: none; font-family: 'Montserrat',sans-serif;font-weight: 400;color: #a7a8ae;letter-spacing:0;}
	}
	
	@media only screen and (max-width: 768px){
	#header-b li.mega ul[class^="sub-"] ul li {margin-left:0;margin-right:0;}
	#header-b li.mega ul[class^="sub-"] ul li a {color:#a7a8ae;}
	#header-b li.mega ul[class^="sub-"] {margin-left:19px}
	#header-b ul  {left: -19px;}
	}
	
	@media only screen and (max-width: 960px) and (min-width: 768px){
	#header-b li.mega ul[class^="sub-"] {width: 737px;margin-top:0px;margin-left:0px;}
	#header-b li.mega ul[class^="sub-"] ul li {margin:0 15px;}
	#header-b li.mega ul[class^="sub-"] ul li a {color:#fff;}
	}
	
	
	/* --------------------- */
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 960px) { 
	
	/* nav-wrap */
	#nav-wrap {	position: relative; height:30px; text-align:center; margin:0 0 32px 0;}
	#nav-wrap.full-menu-duplex { padding:0 10px;}
	
	/* menu icon */
	#menu-icon { color: rgba(255,255,255,0.7); margin:0 auto; font-size:16px; font-weight:400; height: 37px; border-radius:2px; background: #363f46; padding: 7px 10px 7px 42px; cursor: pointer;	 clear:both; box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3); text-align:left; display: block; /* how menu icon */	}
	#menu-icon i { font-size:16px; color:rgba(0,0,0,0.6); float:left; margin-left:-28px; margin-top:3px;}
	#menu-icon:hover, #menu-icon.active {background-color: #d0ae5e;}
	.mn-clk { font-size:12px; color:rgba(255,255,255,0.5);}
	
	/* main nav */
	#nav { clear: both; margin:0 auto; background:#fff; position: absolute; width: 260px; z-index: 1000; padding:2px 0 44px 18px; border: 1px solid #d2d2d2; border-top:0 none;	display: none; /* visibility will be toggled with jquery */	}
	#nav ul { padding:5px 0;}
	#header.sticky #nav-wrap #nav > li, #nav li, .nav-wrap2 #nav li { clear: both; text-align:left; float: none; border:0 none; margin:0; margin-left:10px; padding:0 !important; border-bottom:1px solid #dcdee2;}
	#nav ul li { border-color:#dcdee2;}
	#nav ul li:last-child, .nav-wrap2 #nav ul li:last-child { border:none;}
	#nav > li > ul:after, #nav > li > ul:before { display:none; visibility:hidden;}
	#nav a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a { line-height:24px;}
	#nav a, #nav ul a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a, #nav ul li a, #nav ul li:hover > a, .nav-wrap2.darknavi #nav > li > a { width:auto; display:inline-block; padding:11px 11px 11px 0; text-align:left; border:0 none; margin:0; line-height:1.2;}
	#header.sticky #nav-wrap #nav > li > a, #nav > li  > a { margin:0; padding:14px 0; line-height:16px; display:block;}
	#nav > li:hover > a, #nav li.current > a, #nav li.active > a{ background:none; color:#d0ae5e;}
	.nav-wrap2 #nav > li { display:block;}
	.nav-wrap2 #nav > li > a , .nav-wrap2 #nav > li:first-child > a { border:0 none;}
	.nav-wrap2 #nav > li > a { font-size:14px; font-weight:400;}
	.nav-wrap2.darknavi #nav > li > a { color:#666;}
	.nav-wrap2.darknavi #nav > li > a:hover, .nav-wrap2.darknavi #nav > li:hover > a { background:none;}
	#nav a span, #nav a:after { display:none; visibility:hidden;}
	#nav > li.current > a:before { display:none;}
	#nav li.mega ul[class^="sub-"] ul li a { display:block;}
	#nav li.mega ul[class^="sub-"] .wpb_column { margin-bottom:20px;}
	
	/* dropdown */
	#nav li ul { display:none; margin:0; padding:0; padding-left:10px;}
	#nav.ie10mfx li ul { display:block;}
	#nav a:hover > #nav li ul { display:block;}
	#nav ul { width: auto; margin:0; box-shadow: none; position: static; display: block; border: none;}
	#nav ul li ul { margin:0; display: block;  width: auto; padding:0; padding-left:10px;}
	#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type { display: block;}
	#nav li.submenux:after { content: "\f078";}
	.nav-wrap2, .nav-wrap2.darknavi { border:0 none; box-shadow:0 0 0 0; background:none;}
	#nav li.mega ul[class^="sub-"], #nav li.mega ul[class^="sub-"] div, #nav li.mega ul[class^="sub-"], #nav > li:last-child li.mega ul[class^="sub-"] { width:auto; max-width:100%; clear:both; float:none;}
	#nav li.mega ul[class^="sub-"] .wpb_row { padding:0;}	
	#nav li.mega ul[class^="sub-"] .wpb_column { padding-left:0;}
	}
	
	
	@media only screen and (min-width: 480px) and (max-width: 960px) {
	#nav { left:51px; width: 278px;}
	.nav-wrap2 #nav { left:71px;}
	#menu-icon { width: 278px;}
	#header.res-menu #nav { width:100%;}
	#header.res-menu #menu-icon { width:32px;}
	}
	
	@media only screen and (min-width: 768px) and (max-width: 960px) {
	#header.res-menu #nav { left:auto; right:0; max-width:330px;}
	#nav { left:132px;}
	.nav-wrap2 #nav { left:245px;}
	#nav-wrap.full-menu-duplex #nav { left:50%; margin-left:-139px;}
	#nav-wrap.nav-wrap2 { max-width:760px;}	
	}
	
	@media only screen and (max-width: 767px) {
	#nav-wrap.nav-wrap2 { width:420px; margin-right: auto; margin-left: auto; padding-left:10px; padding-right:10px;}
	}	
	
	@media only screen and (max-width: 479px) {
	#nav-wrap.nav-wrap2 #nav { max-width:300px;}
	#nav-wrap.nav-wrap2 { width:300px;}
	.nav-wrap2 #menu-icon { width: 260px;}
	#header.res-menu .vertical-space { height:12px;}
	}
	
	
	
	@media only screen and (max-width: 960px) { 
	#header.res-menu, #header.hi-header.res-menu { padding:10px 0 0; height:82px; border-bottom:1px solid #e1e1e1;}
	#header.res-menu.w-header-type-10 { height:auto; padding-bottom:10px;}
	#header.res-menu .logo-wrap { float:left; height:45px;}
	#header.res-menu .logo-wrap .logo { text-align: left !important; height: 60px; width: 260px; padding-top:7px; margin-top: 0; margin-bottom: 0;}
	#header.res-menu .logo-wrap .logo img { max-height:48px; width:auto !important; max-width:200px; margin: auto 0;}
	#nav > li.current > a, #nav > li > a.active { border-bottom:none;}
	#header.res-menu .alignright { display:none;}
	#header.res-menu .nav-wrap2 { height:0; margin-top:-57px;}
	
	/* menu icon */
	#header.res-menu #menu-icon { margin-top:21px; margin-right:4px; overflow:hidden; z-index:98; padding:0; box-shadow:none;  float:right; width: 40px; height:40px; font-size:16px;  position:absolute; right:0; background: transparent; cursor: pointer; display: block; /* how menu icon */	}
	#header.res-menu #menu-icon i { display:none;}
	#header.res-menu #menu-icon:hover i, #header.res-menu #menu-icon.active i { color:#d0ae5e; cursor: pointer;}
	#header.res-menu #menu-icon span { display:none;}
	#header.res-menu #menu-icon span.mn-ext1,
	#header.res-menu #menu-icon span.mn-ext2,
	#header.res-menu #menu-icon span.mn-ext3 { display:block; width:24px; height:3px; background:#d0ae5e; margin-bottom:3px; margin-top:2px;}
	#header.res-menu #menu-icon.active span.mn-ext1 { display:none;}
	#header.res-menu #menu-icon.active span.mn-ext2 { -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); margin-top:9px; border-radius:2px;}
	#header.res-menu #menu-icon.active span.mn-ext3 { -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg); margin-top:-6px; border-radius:2px;}
	#header.res-menu #menu-icon i:before { display:none;}
	#header.res-menu .nav-wrap2 #menu-icon { margin-top:22px;}
	
	/* main nav */
	#header.res-menu #nav { clear: both; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0 auto; width:100%; max-width:330px; top:72px; position: absolute; border: 5px solid #d2d2d2; border-top:none;  display: none;  /* visibility will be toggled with jquery */	}
	#header.res-menu .nav-wrap2 #nav { width:340px;}
	}
	
	@media only screen and (max-width: 479px) {
	#header.res-menu .nav-wrap2 #nav { width:280px; right:0; top:71px;}
	}
	@media screen and (min-width: 961px) {
	#nav {	display: block !important;}	
	.nav-wrap2 #nav  {	display: table !important;}	
	}
	@media only screen and (min-width: 480px) and (max-width: 960px) {
	#header.res-menu .nav-wrap2 #nav { width:330px; right:20px; margin:0; left:auto;}
	}
	
	
	/* End Normal Menu Style
	----------------------------------- */	
	
	
	
	/* #Vertical Header
	================================================== */
	
	#header.vertical-w { border-bottom: none;}
	#header.vertical-w .nav-wrap3 #nav > li > a:after { content:""; display:none;}
	#header.vertical-w #nav li.mega ul[class^="sub-"] { display: none;}
	@media only screen and (min-width: 961px) {
	#wrap.vertical-header-enabled { padding-left: 250px;}
	#wrap.vertical-toggle-header-enabled { padding-left: 0px;}
	#wrap.vertical-toggle-header-enabled #vertical-header-wrapper {left: -250px;}
	.transparent-header-w #header.vertical-w { position: initial;}
	#vertical-header-wrapper { position: fixed; width: 250px; height: 100%; top: 0; left: 0; z-index: 1001; background-color: #fff; border-right:4px solid #f0f0f0;}
	#header.vertical-w #nav > li.current > a:before { background: transparent; display: none;}
	#header.vertical-w #nav ul li a { padding: 9px 11px;}
	#header.vertical-w #nav > li > a { margin: 0; line-height: 48px; padding: 0;}
	#header.vertical-w .vheader-container { width: 100%; padding: 0; margin: 0;}
	#header.vertical-w #nav-wrap, #header.vertical-w .logo-wrap { float: none; width: 100%; padding: 0; margin: 0;}
	#header.vertical-w #nav-wrap { margin-bottom: 40px;}
	#header.vertical-w .logo-wrap { overflow: hidden;}
	#header.vertical-w .logo { position:static; float: none; text-align: center; margin: 60px 0 50px; padding-left: 15px; padding-right: 15px;}
	#header.vertical-w .logo-wrap .logo { width:246px; height:auto; text-align:center;}
	#header.vertical-w .logo a { display: block;}
	#header.vertical-w .logo img { position:static; margin: auto; margin-top: 0; left:0; right:0;}
	#header.vertical-w #nav { float: none; margin: 0;}
	#header.vertical-w #nav ul { margin: 0; padding: 0; left: 100%; top: 0;}
	#header.vertical-w #nav li { position: relative; float: none; padding: 0 !important; width: 100%; height: auto; border-bottom: 1px solid #f0f0f0;}
	#header.vertical-w #nav li:hover { background-color: #fafafa;}
	#header.vertical-w #nav > li:last-child { border: none;}
	#header.vertical-w #nav > li > ul:before { display: none;}
	#header.vertical-w #search-form { float: none; border-left: none; padding-left: 0; margin: 0 19px; height: 38px; z-index: 9999;}
	#header.vertical-w #search-form .search-text-box { width: 140px; background-color: #f3f3f3;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; border: 0 none; border-radius: 18px; box-shadow: none; font-size: 13px; color:#444; height:18px; line-height: 18px; padding: 7px 5px 8px 30px;}
	
	/* vertical toggle header */
	.vertical-toggle-header-enabled #header.vertical-w { display: none;}
	.vertical-toggle-header-enabled #header { background:none;}
	.vertical-toggle-header-enabled #header.vertical-w .logo-wrap .logo { width:210px;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li { background:none; border:none; background:none;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li > a { line-height:36px; color:#999; text-shadow:none; font-size:19px;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li > a:hover { color:#eee; background:#0c0c0c;}
	.vertical-toggle-header-enabled #vertical-header-wrapper { border-right:40px solid #242424; background:rgba(0,0,0,0.9);}
	.vertical-toggle-header-enabled #header.vertical-w #nav ul, .vertical-header-enabled.dark-submenu #header.vertical-w #nav ul { background:#191919;}
	.vertical-toggle-header-enabled #header.vertical-w #nav ul li, .vertical-header-enabled.dark-submenu #header.vertical-w #nav ul li {border-color:#222;}
	.vertical-toggle-header-enabled #header.vertical-w #nav ul li a, .vertical-header-enabled.dark-submenu #header.vertical-w #nav ul li a { background:none;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li:hover, .vertical-toggle-header-enabled #header.vertical-w #nav ul li:hover, 
	.vertical-header-enabled.dark-submenu #nav ul li a:hover, .dark-submenu #header.vertical-w #nav ul li:hover { background:#0c0c0c;}
	#toggle-icon { display: block; position: absolute; top: 0; right: -99px; margin-right: 13px; margin-top: 20px; cursor: pointer; z-index: 100; background:#242424; width: 46px; height: 42px; padding: 11px; border-radius:0 5px 5px 0;}
	#toggle-icon.active { right: -95px;}
	#toggle-icon span.mn-ext1,
	#toggle-icon span.mn-ext2,
	#toggle-icon span.mn-ext3 { display:block; width:24px; height:3px; background:#777; margin-bottom:3px; margin-top:2px; -webkit-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out;}
	#toggle-icon.active span.mn-ext1 { display:none; background:#f47066;}
	#toggle-icon.active span.mn-ext2 { -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); margin-top:9px; border-radius:2px; background:#f47066;}
	#toggle-icon.active span.mn-ext3 { -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg); margin-top:-6px; border-radius:2px; background:#f47066;}
	ul.vertical-socials { position: absolute; bottom: 15px; right: 0; width: 50px; margin: 0;}
	ul.vertical-socials li { list-style: none; display: block;   width: 100%;  text-align: center;   margin-bottom: 5px; line-height: 1.7;}
	ul.vertical-socials li a { font-size: 15px; color: #7f7f7f;}
	.vertical-toggle-header-enabled #header.vertical-w #search-form .search-text-box { min-width: 170px; width: 170px; background-color: #222;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; color:#fff;} 
	
	/* socials style */
	.socials-wrapper { position: absolute; bottom: 0; top: auto; clear: both; padding: 0 20px; width: 100%;}
	.socials { float: none; text-align: center; margin: 0; margin-bottom: 20px;}
	.socials a { display: inline-block; margin-right: 16px;}
	.socials i { font-size: 18px; color: #7f7f7f;}
	.socials a.facebook:hover i, .vertical-socials a.facebook:hover i { color: #3b5996;}
	.socials a.facebook:hover i, .vertical-socials a.facebook:hover i { color: #3b5996;}
	.socials a.twitter:hover i, .vertical-socials a.twitter:hover i { color: #00acee;}
	.socials a.vimeo:hover i, .vertical-socials a.vimeo:hover i { color: #0dadd6;}
	.socials a.dribble:hover i, .vertical-socials a.dribble:hover i { color: #d53e68;}
	.socials a.youtube:hover i, .vertical-socials a.youtube:hover i { color: #cb322c;}
	.socials a.pinterest:hover i, .vertical-socials a.pinterest:hover i { color: #cb2027;}
	.socials a.google:hover i, .vertical-socials a.google:hover i { color: #c3391c;}
	.socials a.linkedin:hover i, .vertical-socials a.linkedin:hover i { color: #0073b2;}
	.socials a.rss:hover i, .vertical-socials a.rss:hover i { color: #f29a1d;}
	.socials a.instagram:hover i, .vertical-socials a.instagram:hover i { color: #457399;}
	.socials a.other-social:hover i, .vertical-socials a.other-social:hover i { color: #ff5d5e;}
	}
	.vertical-socials, .vertical-socials * { display:none !important;}
	
	
	
	/* #Container + Content + Sidebar in Vertical Header
	===================================================== */	
	@media only screen and (max-width: 1200px) {
	#wrap.vertical-header-enabled .cntt-w, #wrap.vertical-header-enabled .sidebar { width:100%; margin:0;}
	}
	@media only screen and (min-width: 1201px) and (max-width: 1366px) {
	#wrap.vertical-header-enabled .cntt-w { width:620px;}
	}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#wrap.vertical-header-enabled .container { max-width: 730px;}
	}
	@media only screen and (min-width: 1201px) and (max-width: 1366px) {
	#wrap.vertical-header-enabled .container { max-width: 980px;}
	}
	@media only screen and (min-width: 1367px) and (max-width: 1920px) {
	#wrap.vertical-header-enabled .container { max-width: 1156px;}
	}
	
	
	/* #logo alignment center
	================================================== */
	@media only screen and (min-width: 961px) {
	#header.sticky .col-md-4:nth-of-type(1), #header.sticky .cntmenu-leftside { display: none;}
	}
	#header .right-side h6 { margin: 17px 0;}
	#header .logo-wrap.center .logo { float: none; text-align: center; margin: 0 auto; position:relative; width:auto; height:auto;}
	#header .logo-wrap.center .logo img { position:static;}
	#header.sticky .logo-wrap.center .logo { margin: initial;}
	#header .center .img-logo-w1 { margin: auto;}
	#header .nav-wrap2.center { text-align: center;}
	#header .nav-wrap2.center #nav { float: none;}
	#header.sticky .nav-wrap2 #nav { float: right;}
	#header .nav-wrap2.center #nav > li { float: none; display: inline-block;}
	#header .nav-wrap2.center #nav > li > a { border:none;}
	#header .nav-wrap2.center.mn4 #nav > li > ul {margin-top: 0;}
	
	
	
	/* #logo alignment right
	================================================== */
	#header.res-menu .logo-wrap.right, #header .logo-wrap.right, #header .logo-wrap.right .logo { float: right;}
	#header .left-side h6 { margin-top: 0;}
	#header.res-menu .nav-wrap2.left #menu-icon { right: auto; left: 0; float: left;  margin-left: 35px;}
	#header.sticky #nav-wrap.nav-wrap2.left .container { padding-right: 300px; padding-left: 30px;}
	#header.sticky .nav-wrap2.left #nav { float: left;}
	#header.sticky .right .logo-sticky { left: auto; right: 110px;}
	#header .left-side .header-saerch { float: left;}	
	@media only screen and (max-width: 960px) {
	#vertical-header-wrapper { padding:0;}
	#header.res-menu .alignright, #header.res-menu .right-side, #header.res-menu .left-side { display: none;}
	.vertical-toggle-header-enabled #header { background:rgba(0,0,0,0.9);}
	
	/*vertical header*/
	.socials-wrapper, .vertical-socials { display: none !important;}
	.vertical-toggle-header-enabled #header.vertical-w { display: block !important;}
	
	/*logo alignment center*/
	#header .right-side { display: none;}
	#header #nav-wrap.nav-wrap2.center #nav > li { display:block;}
	}
	
	
	@media only screen and (max-width: 767px) {
	/*logo alignment right*/
	#header .logo-wrap.right, #header .left-side { float: none; display: block; overflow: hidden; text-align: center;}
	#header .left-side .header-saerch { float: none;}
	
	/*logo alignment left*/
	#header .alignright { text-align: center;}
	}	
	
	
	
	/* #Duplex Menu
	================================================== */
	@media (min-width: 961px){
	nav.full-menu{display:none !important;}
	}
	@media (max-width: 960px) {
	nav.duplex-menu{display:none !important;}
	}
	@media only screen and (min-width: 961px) {
	.col-md-4.duplex-menu { width:50%; padding:0;}
	#header.duplex-hd .col-md-4.logo-wrap { text-align:center; width:220px; height:220px; padding:0; position:absolute; top:0; left:50%; margin-left:-110px;}	
	#nav.duplex-menu { float:none;}	
	#nav.duplex-menu > li { float:none; padding:0 20px; display:inline-block;}
	#nav.duplex-menu > li.current > a:before { display:none;}
	.duplex-menu.dm-left { text-align:right; padding-right:120px;}
	.duplex-menu.dm-right { text-align:left; padding-left:120px;}
	#nav.duplex-menu ul { margin-top:-60px; margin-left:-12px;}
	#header.sticky #nav.duplex-menu ul { margin-top:0;}
	}
	
	@media only screen and (min-width: 961px) {	
	#nav.duplex-menu > li > a { padding:0; font-weight:400; font-size:16px; line-height:220px; text-transform:none;}
	#nav.duplex-menu  ul li a, #nav.duplex-menu ul li:hover a { font-weight:400; font-size:12px;} 
	#header.duplex-hd #nav > li > a.active, #header.duplex-hd #nav > li > a.active, #nav.duplex-menu > li.current > a,
	.transparent-header-w.t-dark-w #header.horizontal-w.duplex-hd #nav > li:hover > a, .transparent-header-w.t-dark-w #header.horizontal-w.duplex-hd #nav > li.current > a { color:#d0ae5e;}
	#header.sticky #nav.duplex-menu a { margin:0; padding:14px 0 16px; line-height:29px; font-size:14px;}
	#header.sticky #nav.duplex-menu ul li a { font-size:12px;}
	#header.duplex-hd #nav ul li a, #header.duplex-hd.sticky #nav ul li a { padding:9px 12px;}
	#header.duplex-hd { height:220px; padding:0; position:relative; /* border-bottom: 2px solid #d2e7ea; */}
	#header.sticky.hi-header.duplex-hd { border:none; height:auto;}
	#header.duplex-hd .col-md-4.logo-wrap .logo { width:220px; height:220px;}
	#header.duplex-hd .col-md-4.logo-wrap img { width:auto; max-width:180px; height: auto; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0;}
	#header.duplex-hd.sticky img.img-logo-w1, #header.duplex-hd.sticky img.img-logo-w2 { display:none;}
	.transparent-header-w.t-dark-w #header.horizontal-w.duplex-hd #nav > li:hover > a { background:none;}
	.full-menu-duplex { display:none;}
	#header.sticky #nav-wrap.full-menu-duplex  { display:none;}
	#header.sticky.duplex-hd .col-md-4:nth-of-type(1) {display:block;}
	#header.sticky.duplex-hd img.img-logo-w1 { display:none;}
	#header.sticky.duplex-hd #nav-wrap #nav > li { padding:0 15px;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap { width:220px;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap, #header.sticky.duplex-hd .col-md-4.logo-wrap .logo, #header.sticky.duplex-hd .nav-wrap1 { height:auto;   max-height: 60px;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap .logo-sticky { display:block; position:static; text-align:center;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap .logo-sticky img { height:50px; width:auto; margin-top:10px; display:inline;}	
	#header.sticky.duplex-hd > .container { width:100%; border-bottom:1px solid #e9e9e9\9; box-shadow:0 0 3px rgba(0,0,0,0.21); z-index:80000; background:rgba(255,255,255,0.97); display:block; position:fixed; height:60px; padding:0; left:0; top:0; -webkit-animation: header-anim .2s ease .027s both; animation: header-anim .2s ease .027s both; transition: background 0.3s ease-in-out 0s;}
	#header.sticky.duplex-hd:hover > .container { background:#fff;}	
	}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#nav.duplex-menu > li { padding:0 10px;}
	#nav.duplex-menu > li > a { font-size:13px;}
	.nav-wrap2.mn4 #nav > li > a { padding-left:14px; padding-right:14px;}
	}
	
	
	/* #Box Menu
	================================================== */	
	@media only screen and (min-width: 961px) {
	#header.box-menu { background:#494a50; border:none; height:135px;}	
	#header.box-menu  h6 { margin:30px 6px 5px; font-size: 17px;color: #ccc; font-weight: 300; letter-spacing: 0.4px;}
	#header.box-menu  h6 i { font-size:18px; color:#75797b; padding:9px; border:2px solid; display: inline-block; width:38px; height:38px; margin-top:0;}
	#header.box-menu .nav-wrap2.mn4 {  height:58px; margin-bottom:-29px; display:table; width:100%;}
	#header.box-menu .nav-wrap2 {  max-width:1095px; height:58px; margin-top: 7px;  margin-left:auto; margin-right:auto; text-align:center; border:none; z-index:770; background-image: -moz-linear-gradient(top, #fdfdfd, #e9e9e9); background-image: -ms-linear-gradient(top, #fdfdfd, #e9e9e9); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to#e9e9e9); background-image: -webkit-linear-gradient(top, #fdfdfd, #e9e9e9); background-image: -o-linear-gradient(top, #fdfdfd, #e9e9e9); background-image: linear-gradient(top, #fdfdfd, #e9e9e9); -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.21); -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.21); box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.21);}
	#header.box-menu .nav-wrap2 .container { width:auto; padding:0;}
	#header.box-menu .nav-wrap2 #nav { text-align:center; width:100%; margin:0;}
	#header.box-menu .nav-wrap2 #nav > li { float:none; display:table-cell; padding: 0; margin:0; border-bottom:4px solid #2a2a2a;}
	#header.box-menu .nav-wrap2 #nav > li.current { border-bottom-color:#d0ae5e;}
	#header.box-menu .nav-wrap2 #nav > li > ul { border-top:4px solid #d0ae5e;}
	#header.box-menu .nav-wrap2 #nav > li:hover { border-color:#d0ae5e;}
	#header.box-menu .nav-wrap2 #nav > li:after, #header.box-menu .nav-wrap2 #nav > li:before,
	#header.box-menu .nav-wrap2 #nav > li a:after, #header.box-menu .nav-wrap2 #nav > li a:before { display:none; width:0; height:0;}
	#header.box-menu .nav-wrap2 #nav > li > a { padding:22px 26px 18px; margin-bottom:0; text-align:center; border-color:#e1e1e1; letter-spacing:1px; font-size:14px; line-height:14px; color:#484848; text-transform:uppercase; font-weight:400;}
	#header.box-menu .nav-wrap2.mn4 #nav > li > a { padding:20px 26px; margin:0; border-left: 1px solid #e1e1e1;}
	#header.box-menu .nav-wrap2.mn4 #nav > li:hover > a { background-color: #f0f0f0; }
	#header.box-menu .nav-wrap2 #nav > li:first-child > a{ border-left:none;}
	#header.box-menu .nav-wrap2 #nav > li:last-child > a { border-right:none;}
	.transparent-header-w.t-dark-w #wrap #header.box-menu #nav > li > a { text-shadow:none; color:#485059;}
	#header.box-menu input[type="text"].header-saerch { margin-top:20px; margin-right:1px; background:#222;}
	.transparent-header-w #header.box-menu input[type="text"].header-saerch { background: rgba(255,255,255,0.45); color:#000;}
	#header.box-menu.sticky #nav-wrap.nav-wrap2 { width:100%; max-width:100%;}
	#header.box-menu.sticky #nav-wrap .container { padding-left:150px;}
	#header.box-menu.sticky #nav { display:block; float:right; width:auto;}
	#header.box-menu.sticky .nav-wrap2 #nav > li { border:none; display:inline-block; float:left;}
	#header.box-menu .nav-wrap2 #nav li.mega ul[class^="sub-"] { left:0;}
	#header.box-menu .alignright { line-height:65px;}
	#header.box-menu.sticky .alignright { display:none;}
	#header.box-menu .vertical-space { height:6px;}
	}
	@media only screen and (max-width: 960px) {
	#header.res-menu.box-menu { background:#353c3e;}
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	.nav-wrap2 { width: 420px;}
	}
	/* #Responsive Menu
	================================================== */
	#responavwrap {position:fixed; top:0; left:-265px; width:265px; height:100%; background:#242424; z-index:9999; overflow-x:hidden; overflow-y:auto; padding-top:80px;}
	#responav {margin:0; padding:0;}
	#responav li {position:relative; margin:0; padding:0; width:100%; border-top:1px solid #2d2d2d; list-style:none;}
	#responav>li:last-child {border-bottom:1px solid #2d2d2d;}
	#responav li:hover {background-color:#222;}
	#responav li.mega li:hover {background-color:inherit;}
	#responav li a:not(.button) {color:#bbb; display:block; font-weight:600; text-transform:uppercase; padding:14px 20px; font-size:14px; position:relative;}
	#responav li:hover a:not(.button) {color:#eee;}
	#responav li a i {margin-right:4px;}
	#responav li a>i.respo-nav-icon {position:absolute; top:0; right:0; font-size:12px; width:50px; height:100%;}
	#responav li a>i.respo-nav-icon:before {position:absolute; top:50%; right:50%; -webkit-transform:translate(50%,-50%); transform:translate(50%,-50%);}
	#responav li>ul {display:none; margin:0; background-color:#282828;}
	#responav li.mega ul[class^=sub-] {background-color:#f5f5f5;}
	.dark-submenu #responav li.mega ul[class^=sub-] {background:#242424;}
	#responav li>ul a:not(.button) {padding:10px 30px; font-size:12px;}
	#responav li>ul li>ul a:not(.button) {padding-right:40px; padding-left:40px;}
	#responav li>ul li>ul li>ul a:not(.button) {padding-right:50px; padding-left:50px;}
	#responav li .wpb_row {margin-left:0; margin-right:0;}
	#responav li .wpb_row [class*=vc_col-] {width:100%; float:none; padding-top:35px;}
	#responav [class*=vertical-] {display:none;}
	#responav .wpb_column .widget,#responav .wpb_content_element {margin-bottom:15px;}
	#responav .wpb_row {margin-bottom:0; padding-bottom:30px;}
	#responav .widget_nav_menu li {border-top:0;}
	#responav .widget_nav_menu ul li a {padding:7px 10px;}
	#responav .teaser-box6 .teaser-title {font-size:18px;}
	#close-icon {display:block; position:absolute; top:0; right:0; margin-right:13px; margin-top:20px; cursor:pointer; z-index:100; width:46px; height:42px; padding:11px;}
	#close-icon span.mn-ext1,#close-icon span.mn-ext2,#close-icon span.mn-ext3 {display:block; width:24px; height:3px; background:#777; margin-bottom:3px; margin-top:2px; -webkit-transition:all .4s ease-in-out; -o-transition:all .4s ease-in-out; transition:all .4s ease-in-out;}
	
	/* #Kids Template
	=================================================================================================== */
	
	.kids-t #responav li a:not(.button) {font-family: 'Life Savers',sans-serif;}

	/* Nav Dropdown */
	.kids-t #nav > ul { position: absolute;  width: 210px; background: #fff ;  padding:0; margin:0; box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09); z-index:9100; display: none; /* hide dropdown */ }
	@media only screen and (min-width: 961px) {
	.kids-t .dark-submenu #nav ul, .dark-submenu #nav ul li, .dark-submenu #nav ul li:hover { background:#242424;}
	.kids-t .dark-submenu #nav ul li a { color:#d0d0d0; text-shadow:none;}
	.kids-t .dark-submenu #nav ul li a:hover {background: #1a1a1a;color: #d0ae5e;}
	#wrap.kids-t  .colorful-header #nav ul li ul {margin-left: 100%;margin-top: -19%;}
	}

	/* Colorful Menu */
	#wrap.colorskin-custom #header.horizontal-w.colorful-header #nav > li:hover > a ,#wrap.colorskin-custom .colorful-header #nav > li.current > a { color: #fff !important;}
	#wrap.colorskin-custom #nav > li.current > a
	.kids-t #header.sticky #nav-wrap #nav > li > a { padding: 23px 13px;}
	.colorful-header .nav-wrap1 {height: auto;}
	.colorful-header #nav {margin-top: 18px;position: relative; margin-bottom: -35px;}
	.colorful-header #nav:after {content: " ";border-bottom: 1px solid #e5e5e5;display: block;position: absolute;bottom: 20px;width: 100%;}
	.colorful-header #nav a { font-weight: 400; line-height: 30px;margin: 0 5px 40px;color: #fff;border: 1px solid rgba(0, 0, 0, 0.1);width: 100px;padding: 22px 0 0;height: 89px;overflow: hidden;font-size: 14px;transition: all 0.2s ease; text-transform: inherit;}
	.colorful-header #nav li:hover a {color:#fff;}
	.colorful-header #nav a i {display: block;font-size: 30px;line-height: 30px;margin: 0;}
	.colorful-header #nav li:nth-child(7n+1) a { background: #ed5564;}
	.colorful-header #nav li:nth-child(7n+2) a { background: #fe8426;}
	.colorful-header #nav li:nth-child(7n+3) a { background: #ffce55;}
	.colorful-header #nav li:nth-child(7n+4) a { background: #a0d468;}
	.colorful-header #nav li:nth-child(7n+5) a { background: #48cfae;}
	.colorful-header #nav li:nth-child(7n+6) a { background: #50c1e9;}
	.colorful-header #nav li:nth-child(7n+7) a { background: #ac92ed;}
	.colorful-header #nav li:first-child a {margin-left: 0;}
	.colorful-header #nav li:last-child a {margin-right: 0;}
	.colorful-header #nav li:after{content: "";border: 3px solid #000;width: 50px;position:absolute;bottom: 17px;margin-left: 29px;transition: all 0.2s ease;display: none;z-index: 1000;}
	.colorful-header #nav li:hover:after {display: block}
	.colorful-header #nav li:hover:nth-child(7n+1):after { border-color: #ed5564;}
	.colorful-header #nav li:hover:nth-child(7n+2):after { border-color: #fe8426;}
	.colorful-header #nav li:hover:nth-child(7n+3):after { border-color: #ffce55;}
	.colorful-header #nav li:hover:nth-child(7n+4):after { border-color: #a0d468;}
	.colorful-header #nav li:hover:nth-child(7n+5):after { border-color: #48cfae;}
	.colorful-header #nav li:hover:nth-child(7n+6):after { border-color: #50c1e9;}
	.colorful-header #nav li:hover:nth-child(7n+7):after { border-color: #ac92ed;}
	.colorful-header #nav li:first-child:hover:after{margin-left: 26px;}
	.colorful-header #nav li {position:relative}
	
	.colorful-header #nav li ul li a {width: 100%;height: 39px;line-height: 10px;margin: 0;padding: 15px 19px;font-size: 13px;letter-spacing: 0;text-transform: inherit;font-weight: 600;background-color: none !important;}
	.colorful-header #nav li ul li a:before {font-family: 'FontAwesome';color: #000;font-size: 16px;content: "\f105";padding-right: 10px;}
	.colorful-header #nav li:nth-child(7n+1):hover ul li a:before { color: #ed5564;}
	.colorful-header #nav li:nth-child(7n+2):hover ul li a:before { color: #fe8426;}
	.colorful-header #nav li:nth-child(7n+3):hover ul li a:before { color: #ffce55;}
	.colorful-header #nav li:nth-child(7n+4):hover ul li a:before { color: #a0d468;}
	.colorful-header #nav li:nth-child(7n+5):hover ul li a:before { color: #48cfae;}
	.colorful-header #nav li:nth-child(7n+6):hover ul li a:before { color: #50c1e9;}
	.colorful-header #nav li:nth-child(7n+7):hover ul li a:before { color: #ac92ed;}
	.colorful-header #nav li:hover ul li:hover a:before,#wrap .colorful-header #nav li:hover ul li:hover a,#wrap .colorful-header #nav > li.current > a,#wrap .colorful-header #nav > li > a.active { color: #fff;}
	#wrap .colorful-header #nav li:nth-child(7n+1):hover ul li:hover > a { background: #ed5564;}
	#wrap .colorful-header #nav li:nth-child(7n+2):hover ul li:hover > a { background: #fe8426;}
	#wrap .colorful-header #nav li:nth-child(7n+3):hover ul li:hover > a { background: #ffce55;}
	#wrap .colorful-header #nav li:nth-child(7n+4):hover ul li:hover > a { background: #a0d468;}
	#wrap .colorful-header #nav li:nth-child(7n+5):hover ul li:hover > a { background: #48cfae;}
	#wrap .colorful-header #nav li:nth-child(7n+6):hover ul li:hover > a { background: #50c1e9;}
	#wrap .colorful-header #nav li:nth-child(7n+7):hover ul li:hover > a { background: #ac92ed;}
	#wrap .colorful-header #nav li ul {margin: 0 0 0 5px;background-color: transparent;box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.19);border:1px solid #e7e7e7;}
	#wrap .colorful-header #nav li:first-child ul {margin: 0;}
	#wrap .colorful-header #nav li ul {padding: 0;}
	#wrap .colorful-header #nav li ul li > a {background-color: #fff;color: #656d78;border: 0;}
	#wrap .colorful-header #nav li ul li {border-bottom: 1px solid #e7e7e7;}
	#wrap .colorful-header #nav li ul li:last-child {border: 0;}
	.colorful-header #nav li ul li:hover:after {display:none;}
	
	
	/* LEVEL 2 MENU */
	#wrap .colorful-header #nav li:hover ul li:hover ul.sub-menu li a { border: 0; color: #656d78;}
	
	#wrap .colorful-header #nav li:nth-child(7n+1):hover ul li:hover ul li a:before { color: #ed5564;}
	#wrap .colorful-header #nav li:nth-child(7n+2):hover ul li:hover ul li a:before { color: #fe8426;}
	#wrap .colorful-header #nav li:nth-child(7n+3):hover ul li:hover ul li a:before { color: #ffce55;}
	#wrap .colorful-header #nav li:nth-child(7n+4):hover ul li:hover ul li a:before { color: #a0d468;}
	#wrap .colorful-header #nav li:nth-child(7n+5):hover ul li:hover ul li a:before { color: #48cfae;}
	#wrap .colorful-header #nav li:nth-child(7n+6):hover ul li:hover ul li a:before { color: #50c1e9;}
	#wrap .colorful-header #nav li:nth-child(7n+7):hover ul li:hover ul li a:before { color: #ac92ed;}
	
	#wrap .colorful-header #nav li:hover ul li:hover ul.sub-menu li:hover a { color: #fff;}
	
	#wrap .colorful-header #nav li:nth-child(7n+1):hover ul li:hover ul li:hover a { background: #ed5564;}
	#wrap .colorful-header #nav li:nth-child(7n+2):hover ul li:hover ul li:hover a { background: #fe8426;}
	#wrap .colorful-header #nav li:nth-child(7n+3):hover ul li:hover ul li:hover a { background: #ffce55;}
	#wrap .colorful-header #nav li:nth-child(7n+4):hover ul li:hover ul li:hover a { background: #a0d468;}
	#wrap .colorful-header #nav li:nth-child(7n+5):hover ul li:hover ul li:hover a { background: #48cfae;}
	#wrap .colorful-header #nav li:nth-child(7n+6):hover ul li:hover ul li:hover a { background: #50c1e9;}
	#wrap .colorful-header #nav li:nth-child(7n+7):hover ul li:hover ul li:hover a { background: #ac92ed;}
	
	#wrap .colorful-header #nav li:hover ul li:hover ul li:hover a:before {color: #fff;}
	
	
	/* LEVEL 3 MENU */
	#wrap .colorful-header #nav li:hover ul li:hover ul.sub-menu li:hover ul.sub-menu li a {background-color: #fff; border: 0; color: #656d78;}
	
	#wrap .colorful-header #nav li:nth-child(7n+1):hover ul li:hover ul li:hover ul li a:before { color: #ed5564;}
	#wrap .colorful-header #nav li:nth-child(7n+2):hover ul li:hover ul li:hover ul li a:before { color: #fe8426;}
	#wrap .colorful-header #nav li:nth-child(7n+3):hover ul li:hover ul li:hover ul li a:before { color: #ffce55;}
	#wrap .colorful-header #nav li:nth-child(7n+4):hover ul li:hover ul li:hover ul li a:before { color: #a0d468;}
	#wrap .colorful-header #nav li:nth-child(7n+5):hover ul li:hover ul li:hover ul li a:before { color: #48cfae;}
	#wrap .colorful-header #nav li:nth-child(7n+6):hover ul li:hover ul li:hover ul li a:before { color: #50c1e9;}
	#wrap .colorful-header #nav li:nth-child(7n+7):hover ul li:hover ul li:hover ul li a:before { color: #ac92ed;}
	
	#wrap .colorful-header #nav li:hover ul li:hover ul.sub-menu li:hover ul.sub-menu li:hover a { color: #fff;}
	
	#wrap .colorful-header #nav li:nth-child(7n+1):hover ul li:hover ul li:hover ul li:hover a { background: #ed5564;}
	#wrap .colorful-header #nav li:nth-child(7n+2):hover ul li:hover ul li:hover ul li:hover a { background: #fe8426;}
	#wrap .colorful-header #nav li:nth-child(7n+3):hover ul li:hover ul li:hover ul li:hover a { background: #ffce55;}
	#wrap .colorful-header #nav li:nth-child(7n+4):hover ul li:hover ul li:hover ul li:hover a { background: #a0d468;}
	#wrap .colorful-header #nav li:nth-child(7n+5):hover ul li:hover ul li:hover ul li:hover a { background: #48cfae;}
	#wrap .colorful-header #nav li:nth-child(7n+6):hover ul li:hover ul li:hover ul li:hover a { background: #50c1e9;}
	#wrap .colorful-header #nav li:nth-child(7n+7):hover ul li:hover ul li:hover ul li:hover a { background: #ac92ed;}
	
	#wrap .colorful-header #nav li:hover ul li:hover ul li:hover ul li:hover a:before{color: #fff;}
	
	
	
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	.colorful-header #nav a {width: 84px;padding: 12px 0 0;height: 77px;}
	.colorful-header #nav li:after {margin-left: 21px;}
	.colorful-header #nav li:first-child:hover:after {margin-left: 17px;}
	}
	
	
	/* dark sub menu */
	#wrap.dark-submenu .colorful-header #nav li ul li a{background-color: #242424;}
	#wrap.dark-submenu .colorful-header #nav li ul li a:before {color: #fff;}
	
	/* Sticky Menu */
	.colorful-header.sticky #nav {margin-top: 0;}
	.colorful-header.sticky #nav a i {display: none;}
	#header.colorful-header.sticky #nav-wrap #nav > li > a {padding-top: 17px;margin: 8px 5px;height: 55px;}
	.colorful-header.sticky #nav {border-bottom: 0;padding-bottom: 0;margin-bottom: 0}
	.colorful-header.sticky #nav:after {display: none;}
	.colorful-header.sticky #nav li:after {display: none;}
	#wrap .colorful-header.sticky #nav li:first-child ul {margin-left: 5px;}
	#header.colorful-header.sticky #nav-wrap #nav > li:hover {background: #fff;}
	#header.colorful-header.sticky #nav-wrap, #header.colorful-header.sticky.hi-header #nav-wrap {height: 71px;}
	#header.colorful-header.sticky .logo-sticky {margin-top: 5px;}
	@media only screen and (min-width: 961px){
	#header.colorful-header.sticky #nav-wrap .container {height: 71px;}
	}
	@media only screen and (min-width: 961px){
	#header.colorful-header.sticky .logo-sticky img.img-logo-w3 {max-height: 55px;}
	}

	/* Fix for colorful menu */
	.has-colorful-menu .blox.page-title-x, .has-colorful-menu .parallax-sec.page-title-x, .has-colorful-menu .video-sec.page-title-x {margin-top: 0;}
	.has-colorful-menu #hero.tbg1 ,.has-colorful-menu #headline,.has-colorful-menu #headline2{margin-top: 35px;}
	
	
	/* #Button in header
	=================================================================================================== */
		
	.header-button {float: right; font-weight: 400; color: #000; font-size: 13px; text-transform: uppercase; padding: 12px 30px; border: 1px solid; margin-top: 26px; margin-left: 10px; transition: all 0.3s ease;}
	#header .header-button { color: #000;}
	#header .header-button:hover { color:#fff;}
	@media only screen and (min-width: 961px){
	.transparent-header-w.t-dark-w #wrap #header .header-button { color: #fff;}
	.sticky .header-button { margin-top: 4px;}
	#wrap #header.sticky #nav-wrap .header-button { color: #000;}
	#wrap #header.sticky #nav-wrap .header-button:hover { color: #fff;}
	}
	
	@media only screen and (max-width: 767px){
	.header-button { margin-top: 43px; background: #fff;}
	}
	
	
	/* End
	--------------------- 