#nhp-opts-heading{margin-bottom:20px;}

#nhp-opts-main .two-col br{display:none}
#nhp-opts-main .two-col label{width: 40%; margin-right: 10%!important;}

input[type="checkbox"]{ background-color: #fafafa; border: 1px solid #cacece; box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); padding: 9px; border-radius: 3px; display: inline-block; position: relative; }
input[type=checkbox]:checked:before { color: #6FA225;}

a:focus { box-shadow:none !important;}


.nhp-opts-group-tab h2 {text-transform: uppercase;  letter-spacing: 4px; color: #5B646B; }

#nhp-opts-form-wrapper{
	
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
border: 1px solid #cdcdcd;
	
	-moz-border-radius: 11px; /* Firefox */
	-webkit-border-radius: 11px; /* Safari, Chrome */
	border-radius: 11px;
	color:#505c64;	
	margin-top:20px;
	max-width:890px;
}
#nhp-opts-form-wrapper input[type="button"], #nhp-opts-form-wrapper input[type="submit"] { border-radius:3px; height:auto; line-height:17px; padding:10px 26px; }
#nhp-opts-form-wrapper input[type="text"], #nhp-opts-form-wrapper select { background-color:#f7f7f7;  border-left-color:#ccc; border-top-color:#ccc; box-shadow: 1px 1px 3px rgba(0,0,0,0.1) inset;}
#nhp-opts-form-wrapper select { height:32px; min-width:150px;padding:5px; }
#nhp-opts-form-wrapper input[type="text"] { padding-top:7px; padding-bottom:7px;}
#nhp-opts-form-wrapper textarea { box-shadow: 1px 1px 3px rgba(0,0,0,0.1) inset;}
#nhp-opts-form-wrapper	input[type="text"]:focus,
#nhp-opts-form-wrapper	input[type="password"]:focus,
#nhp-opts-form-wrapper	input[type="email"]:focus,
#nhp-opts-form-wrapper	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
		background: #fff;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }

#nhp-opts-form-wrapper .hr{
	height:1px;
	width:60%;
	border-bottom:1px solid #DFDFDF;
	margin: 0 auto;
	margin-bottom:-20px;
}

.seperator.nhp-opts-info-field {
	border-top:1px solid #e7e7e7; border-bottom: 1px dotted #e7e7e7; font-size:18px; line-height:2; background:#fbfbfb; display:block; margin-bottom:-80px; margin-top:-50px; margin-left:-20px; width:100%; padding:10px 20px 20px 20px; font-weight:bold;
}
.seperator.nhp-opts-info-field span { font-size:14px; font-weight:normal;}

#nhp-opts-form-wrapper .button-primary { background:#85bc36; margin-right:8px; border-color:#6fa225; }

#nhp-opts-header,
#nhp-opts-footer {
	text-align:right;
	padding:20px;
	background: #42484d url(../img/webnus-to-hd1.png) no-repeat top left;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.38) inset ;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.38) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.38) inset;
	margin:-1px;	
}
#nhp-opts-header{
	border-bottom:3px solid #5b646b;
	-moz-border-radius: 10px 10px 0 0; /* Firefox */
	-webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */
	border-radius:10px 10px 0 0;
	padding:30px 20px;	
	margin-bottom:0px;

	
}
#nhp-opts-footer{
	-moz-border-radius: 0 0 10px 10px; /* Firefox */
	-webkit-border-radius: 0 0 10px 10px; /* Safari, Chrome */
	border-radius:0 0 10px 10px;
	background-position:left center;
	border-top:3px solid #7e858a;
}
#nhp-opts-footer #nhp-opts-share{
	float:left;
}
#nhp-opts-footer #nhp-opts-share a{
	margin-right:10px;
}
#nhp-opts-footer #nhp-opts-share a img{
	margin-bottom:-3px;
}


#nhp-opts-save{
	margin:0px;
	border-bottom:1px solid #DFDFDF;
    background-color: #DFF0D8;
    color: #468847;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#nhp-opts-imported{
	margin:0px;
	border-bottom:1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #3A87AD;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#nhp-opts-save-warn{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



#nhp-opts-field-warnings{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}




#nhp-opts-field-errors{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
    background-color: #F2DEDE;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}


#nhp-opts-sidebar,
#nhp-opts-main{
	min-height:300px;
}
#nhp-opts-sidebar{
	width:200px;
	float: left;
}

.nhp-opts-menu-warning{
	background-color: #C09853;
    color: #FCF8E3;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}

.nhp-opts-menu-error{
	background-color: #B94A48;
    color: #F2DEDE;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}
	

#nhp-opts-main{
	background:#fff;
	margin-left:201px;
	border-left:1px solid #DFDFDF;
	padding:10px 20px;
}


#nhp-opts-sidebar #nhp-opts-group-menu{
	margin-top:0px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li{
	margin:0px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li.divide{
	padding:0px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a{
	display:block;
	padding: 14px 14px;
	background: #eeeeee;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
    
    color: #505c64;
    font-weight:bold;
    text-decoration:none;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a.custom-tab{
	background: #f6f6f6;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a img{
	width: 24px;
	height: 24px;
	/*vertical-align:middle;*/
	margin-bottom:-7px;
	margin-right:5px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a:hover{
	background:#f9f9f9;
	width:174px;
	margin-right:-2px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li.active a{
	background:#fff;
	width:174px;
	margin-right:-2px;
}






.nhp-opts-group-tab{
	display:none;
}
.nhp-opts-group-tab h3 {
	margin-top: 0px;
	font-size: 1.9em;
	line-height: 2;
	border-bottom: 1px dashed #d9d9d9;
	margin-bottom:16px;
}
.nhp-opts-group-tab .nhp-opts-section-desc{
	font-style: normal;
	font-size:1.2em;
	color:#999;
}
.nhp-opts-group-tab .form-table{
	clear:none;
	margin-top:30px;
}
.nhp-opts-group-tab .form-table.no-border{
	border-top:none;
}
.nhp-opts-group-tab .form-table tr:last-child{
	border-bottom: none;
}
.nhp-opts-group-tab .form-table tr th,
.nhp-opts-group-tab .form-table tr td {
	padding:20px 10px 30px 1px;
	color:#666e74;
}
.nhp-opts-group-tab .form-table tr th{
	font-weight:bold;
	font-size:1.1em;
	width:30%;
}
.nhp-opts-group-tab .form-table tr th span:first-child{
	font-weight: normal;
	display:block;
	color:#999;
}


.nhp-opts-group-tab .form-table tr td .nhp-opts-th-warning{
	font-size:1em;
    color: #C09853;
	font-weight:normal;
	display:block;
}
.nhp-opts-group-tab .form-table tr td .nhp-opts-field-warning{
	border-color:#C09853;
}


.nhp-opts-group-tab .form-table tr td .nhp-opts-th-error{
	font-size:1em;
	color:#B94A48;
	font-weight:normal;
	display:block;
}
.nhp-opts-group-tab .form-table tr td .nhp-opts-field-error{
	border-color:#B94A48;
}


/* reset nested tables for mce */
.nhp-opts-group-tab .form-table tr td table.mceLayout,
.nhp-opts-group-tab .form-table tr td table.mceLayout tr,
.nhp-opts-group-tab .form-table tr td table.mceLayout tr td{
	padding:0px;
	border-width:0px;
}


.nhp-opts-group-tab .nhp-opts-theme-data{
	padding:20px 0px;
	border-top: 1px solid #DFDFDF;
}
.nhp-opts-group-tab .nhp-opts-theme-data.theme-uri,
.nhp-opts-group-tab .nhp-opts-theme-data.theme-author,
.nhp-opts-group-tab .nhp-opts-theme-data.theme-version{
	padding:0px;
	border-width:0px;
}
.nhp-opts-group-tab .nhp-opts-theme-data.theme-description{
	padding:10px 0px;
	border-width:0px;
}


span.description, p.description, description p { color:#838489; font-style:normal; display:block; line-height:18px; margin-top: 8px;}


/*
 *
 * NHP_Options_radio_img
 *
 */
.nhp-radio-img input[type='radio']{
	display:none;
}
.nhp-radio-img,
.nhp-radio-img-selected{
	margin:6px;
	display:inline-block;
	padding:7px;
}
.nhp-radio-img-selected{
	background-color:#fcbe3a; border-radius:3px;
}
.nhp-radio-img img,
.nhp-radio-img-selected img{
	border-width:2px;
	border-style: solid;
}
.nhp-radio-img img{
	border-color:#e9e9e9;
}
.nhp-radio-img-selected img{
		border-color:#c9c9c9;
}



/*
 *
 * NHP_Options_color
 *
 */
.farb-popup-wrapper{
	position: relative;
	display: block;
}

.farb-popup{
	position: absolute;
	left: 40px;
	top: 40px;
	background-color: white;
	border: 1px solid #222;
	padding: 5px;
	z-index:100;
}



#nhp-opts-import-link-wrapper,
#nhp-opts-import-code-wrapper{
	display:none;
}

#nhp-opts-export-code,
#nhp-opts-export-link-value{
	display:none;
}
#nhp-opts-import-action span{
	color:#B94A48;
}
#import_divide{
	margin: 40px 0px;
	border-bottom: 1px solid #DFDFDF;
}





.nhp-opts-screenshot{
	max-width: 300px;
	display:block;
}





@media screen and (max-width : 900px) {
	#nhp-opts-sidebar{
		width:42px;
	}
	#nhp-opts-main{
		margin-left:43px;
	}
	.nhp-opts-group-tab-link-a{
		position: relative;
	}
	.nhp-opts-group-tab-link-a span{
		display:none;
		position:absolute;
		top: 0;
		left:44px;
		padding: 14px;
		width: 200px;
		background: #eeeeee;
		border: 1px solid #DFDFDF;
		border-width: 1px 1px 1px 0px;
	}
	.nhp-opts-group-tab-link-a:hover > span{
		display: block;
	}
	#nhp-opts-sidebar #nhp-opts-group-menu li a,
	#nhp-opts-sidebar #nhp-opts-group-menu li a:hover,
	#nhp-opts-sidebar #nhp-opts-group-menu li.active a,
	#nhp-opts-sidebar #nhp-opts-group-menu li.active a:hover{
		width:15px;
	}
	
	table.form-table, .form-table > thead, .form-table > tbody, .form-table > tbody > tr > th, .form-table > tbody > tr > td, .form-table > tbody > tr {
		display: block !important;
		width: 100% !important;
		padding: 0px !important;
	}
	.form-table > tbody > tr > th, .form-table > tbody > tr > td{
		padding: 10px !important;
	}
	.form-table > tbody > tr > td span.description{
		display: block;
	}
}

#wpwrap .ui-button { border-radius: 0; height: 31px; }
#wpwrap .ui-corner-left { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
#wpwrap .ui-corner-right { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
#wpwrap .nhp-opts-group-tab .form-table tr th, #wpwrap #nhp-opts-sidebar #nhp-opts-group-menu li a { font-weight: 600; }